.calculator{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
}

.display{
    border: 1px solid black;
    width: 270px;
    height: 60px;
    margin: 20px auto;
}

.buttons{
    display: flex;
    margin: 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons button{
    width: 60px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

#igual{
    width: 130px;
}